$black: #000000;
$grey: #333333;
$grey2: #f4f4f4;
$white: #ffff;
$red: #ff4242;

$gradient-color-1: #f00;
$gradient-color-2: rgba(255, 138, 0, 0.76);
$gradient-color-3: rgba(219, 247, 44, 0.61);
$gradient-color-4: #00ff57;
$gradient-color-5: #00b2ff;
$gradient-color-6: #0400d2;
$gradient-color-7: #fa00ff;
$gradient-color-8: #f00;

$gradient: linear-gradient(
  270deg,
  $gradient-color-1 0%,
  $gradient-color-2 15.5%,
  $gradient-color-3 30.5%,
  $gradient-color-4 47%,
  $gradient-color-5 58.5%,
  $gradient-color-6 75.5%,
  $gradient-color-7 88%,
  $gradient-color-8 100%
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  color: $red;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: $grey2;
}

#nav-list {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding-inline: 10vw;
  gap: 60px;
  border-radius: 5px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    padding-block: 20px;
    padding-inline: 40px;
    height: auto;
    gap: 20px;
    display: none;
  }
}

.nav-item {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

//promo-btn

#promo-btn {
  width: 100%;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

#promo-btn-text {
  background: $red;
  background: $red;
  padding: 8px 20px;
  color: $white;
  text-transform: uppercase;
  border-radius: 5px;
}

//divider

#divider {
  height: 3px;
  width: 100vw;
  background: $gradient;
}

//dropdown

.dropdown-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $grey2;
  width: 100vw;
  z-index: 1;
  left: 0;
  top: 70px;
  border-radius: 5px;
  padding: 30px 10vw;
  gap: 115px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 10px;
    width: auto;
    border: 1px solid $red;
    padding: 8px;
  }
}

.dropdown-item {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: normal;
}

.dropdown-item-list {
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 16px;
}

//menu-mobile
#nav-list.active {
  display: flex;
}

#mobile-menu {
  border: none;
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 0;
  text-align: center;
  display: none;
  margin-block: 16px;
  margin-left: 36px;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.line {
  display: block;
  height: 3px;
  background-color: $red;
  margin-block: 5px;
  transition: transform 0.2s ease-in-out;
}

#mobile-menu.active .line:nth-child(2) {
  opacity: 0%;
}

#mobile-menu.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  margin-block: 0px;
}

#mobile-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  margin-block: 0px;
}
