$black: #000000;
$greydark: #8d8d8d;
$grey: #d1d1d1;
$lightgrey: #f4f4f4;
$white: #ffffff;

body {
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  max-width: 390px;
  margin: auto;
}

#search-container {
  max-width: 400px;
  margin-top: 20px;
  border: 1px solid $grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

#search-label {
  color: $greydark;
  background-color: $white;
  padding-inline: 10px;
  position: absolute;
  left: 16px;
  top: -10px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  position: relative;
}

.product-cards {
  margin-top: 20px;
  background-color: $lightgrey;
  border-radius: 5px;
}

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $grey;
  position: relative;
}

#no-products-message {
  display: none;
  margin-top: 30px;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: $lightgrey;
  border-radius: 5px;
}

.product-card:nth-child(1) {
  padding-top: 20px;
}

.product-card:first-child::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid $lightgrey;
}
